[submodule "dv-processing"]
	path = dv-processing
	url = https://gitlab.com/inivation/dv/dv-processing.git
[submodule "dv-runtime"]
	path = dv-runtime
	url = https://gitlab.com/inivation/dv/dv-runtime
[submodule "dv_ros_ws/src/dv-ros"]
	path = dv_ros_ws/src/dv-ros
	url = https://github.com/miraculin1/dv-ros.git
[submodule "realsense_ws/src/realsense-ros"]
	path = realsense_ws/src/realsense-ros
	url = https://github.com/miraculin1/realsense-ros.git
[submodule "e2TS/src/rpg_dvs_ros"]
	path = e2TS/src/rpg_dvs_ros
	url = https://github.com/miraculin1/rpg_dvs_ros.git
[submodule "vrpn_ws/src/vrpn_client_ros"]
	path = vrpn_ws/src/vrpn_client_ros
	url = https://github.com/ros-drivers/vrpn_client_ros.git
[submodule "xsens_630_ws/src/xsens_mti_driver"]
	path = xsens_630_ws/src/xsens_mti_driver
	url = https://github.com/miraculin1/xsens_mti_driver.git
